Flask==2.1.0
Flask-WTF==0.14.3
WTForms==2.3.3
Flask-SQLAlchemy==2.5.1
Flask-Migrate==2.5.3
Flask-Bootstrap==3.3.7.1
boto3==1.16.29
Flask-Login==0.5.0
termcolor==1.1.0
psycopg2-binary==2.8.6
python-http-client==3.3.2
#starkbank-ecdsa==1.1.0
PyJWT==2.0.0
twilio==7.9.0
APScheduler==3.7.0
pandas==1.4.1
colorama==0.4.4
python-dotenv==0.15.0
google-api-python-client==2.34.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-storage==1.44.0
google-auth==2.3.3
beautifulsoup4==4.10.0
lxml==4.7.1
Jinja2==3.0.3
itsdangerous==2.0.1
werkzeug==2.0.2
redis==4.3.4
rq==1.11.0


